
:root {
    /* 设置字体颜色 */
     --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #3582c8, #314ad7);

    /* 设置右图像渐变 */
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #3582c8 50%, #ffffff 50%);
    --vp-home-hero-image-filter: blur(150px);

}

/* Color Theme */
:root {
    --vp-button-brand-bg: #3582c8;
    --vp-button-brand-hover-border: black;

}
